@import './var.scss';

:root {
  --jxl-trigger-input-height: #{$trigger-input-height};
}
.jxl-trigger-input {
  outline: none;
  cursor: text;
  min-height: var(--jxl-trigger-input-height);
  width: 100%;
  border: 1px solid skyblue;
  &[contenteditable='true']:empty:before {
    content: attr(placeholder);
    display: block;
    color: #ccc;
  }
}

.jxl-trigger-input__menu {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background-color: #fff;
  color: #333;
}
